body {
	background: beige;
}
p {
	font-family: Papyrus, Times,serif;
}

h1 {
	color: maroon;
	text-align: center;
}

img {
	width: 29%;
}

#important {
	color: red;
}

th {
	background-color: pink;
}
th#gray {
	background-color: gray;
}