body {
	/*background-color: antiquewhite; /*#FFE4C4*/
	background-image: url(media/img/rock.jpg);
	background-size: cover;
}

h2, p {
	text-align: center; 
	color: red;
	border: 3px solid gray;
	cursor: none;
}

li {
    list-style: none;
    display: inline-block;
    color: orange;
}

a {
	color: orange;
}
a:hover {
	color: red;
}

p {
	color:green;
}

.red {
    background-color: rgba(255,0,0,.2); 
}

.green {
	background-color: rgba(0,255,0,.2);
}

.blue {
    background-color: rgba(0,0,255,.2);
}

.gold {
	background-color: rgba(255,215,0,.2);
}

.gold:hover {
	background-color: rgba(255,0,0,.4);
}

.border {
	border: 1px dashed orange;
}

#black {
	background-color: rgba(0,0,0,1);
}

#black2 {
	background-color: rgba(0,0,0,.5);
}